/* effet réseaux sur la page d'accueil :*/
.reseaux,
.reseaux img {
  display: none;
}

/* Style adjustments for viewports that meet the condition */
@media (min-width: 980px) {
  /* effet réseaux sur la page d'accueil :*/
  .reseaux {
    display: block;
    position: fixed;
    top: 8rem;
    left: 5rem;
    display: flex;
    flex-direction: column;
  }
  .reseaux ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reseaux ul li {
    list-style: none;
    margin: 0.5rem;
  }
  .reseaux img {
    display: block;
    border-radius: 5px;
  }
}
